<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<style>
			 .mui-btn{
		        margin-top: 10px;
		        margin-left: 10px;
		    }
		</style>
	</head>

	<body>
		
		<div class="mui-content">
		<button type="button" class="mui-btn mui-btn-link" onclick="location.href='MainTab.html'">
			<span class="mui-icon mui-icon-back"></span> 返回
		</button>
		<h3>这是迟到界面</h3>
		</div>
	</body>

</html>