<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" charset="UTF-8">
			mui.init();
		</script>
		<style type="text/css">
			.mui-content {
				margin-top: 12px;
			}
		</style>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">登陆</h1>
		</header>

		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label for="">账号：</label>
					<input type="text" class="mui-input mui-input-clear" id="account" />
				</div>
				<div class="mui-input-row">
					<label for="">密码：</label>
					<input type="password" class="mui-input mui-input-clear" id="password" />
				</div>

			</form>
			<div class="mui-content-padded">
				<button type="button" id="loginbt" class="mui-btn mui-btn-block mui-btn-primary">登陆</button>
			</div>
		</div>

	</body>

</html>