<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" charset="UTF-8">
			mui.init();
		</script>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">录入成绩</h1>
		</header>
		<div style="background-color:lightgray width: 100%; height:300px;margin-top: 50px; " align="center">
			<form action="MainTab.html" method="get">

				学号：
				<input type="text" style="width: 75%;margin-top:10px ;" />
				<br/> 姓名：
				<input type="text" style="width: 75%;margin-top:10px ;" />
				<br/> 成绩：
				<input type="text" style="width: 75%;margin-top:10px ;" />
				<input type="button" name="下一个" value="下一个" style="width: 50%;height:44px ;">
				<!--<ul class="mui-table-view mui-table-view-chevron ">
					<li class="mui-table-view-cell "><a href=" " class="mui-navigate-right ">201201小赵</a></li>
					<li class="mui-table-view-cell "><a href=" " class="mui-navigate-right ">201202小田</a></li>
					<li class="mui-table-view-cell "><a href=" " class="mui-navigate-right ">201203小孙</a></li>
					<li class="mui-table-view-cell "><a href=" " class="mui-navigate-right ">201204小李</a></li>
					<li class="mui-table-view-cell "><a href=" " class="mui-navigate-right ">201205小周</a></li>
					<li class="mui-table-view-cell "><a href=" " class="mui-navigate-right ">201206小吴</a></li>
					<li class="mui-table-view-cell "><a href=" " class="mui-navigate-right ">201207小郑</a></li>
					<li class="mui-table-view-cell "><a href=" " class="mui-navigate-right ">201208小王</a></li>

				</ul>-->
			</form>
		</div>
	</body>

</html>