<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" charset="UTF-8">
			mui.init();

			function skip() {
				window.location.href="TeacherRegister.html" 
			}
		</script>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-bars mui-pull-left mui-plus-visible"></a>
			<h1 class="mui-title">学生注册</h1>

			<input type="button" value="教师" style="margin-left: 80%;margin-top:5px ;" onclick="javascript:skip();" />

		</header>
		<div id="register" align="center" style="margin-top: 50px;">
			<form action="StuRegister.html" method="post">

				<p>
					<input type="text" name="fname" placeholder="请输入您的学号" />
				</p>
				<p>
					<input type="text" name="lname" placeholder="请输入您的姓名" />
				</p>
				
				<p>
					<input type="text" name="fname" placeholder="请输入您的密码" />
				</p>
				<p>
					<input type="text" name="fname" placeholder="请再次输入密码" />
				</p>
				<div class="mui-card">
					<form class="mui-input-group">
						<div class="mui-input-row mui-radio">
							<label>男</label>
							<input name="radio1" type="radio">
						</div>
						<div class="mui-input-row mui-radio">
							<label>女</label>
							<input name="radio1" type="radio" checked>
						</div>

					</form>
				</div>
				<input type="submit" value="学生注册" style="margin-top: 20px;" />

			</form>
		</div>

	</body>

</html>